body {
    background: #feab19;
    padding: 2%;
}

.main {
    border-radius: 25px;
    border: 8px solid #ffc661;
}

.Main-Menu {
    height: 90vh;
    background: rgb(255, 255, 255);
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    padding: 2% 0.5% 0% 0.5%;
}

.Main-Menu h6 {
    font-size: 1.5rem;
    font-weight: 700;
}

.Main-Menu h6 a {
    text-decoration: none;
    color: orange;
}

ul {
    list-style: none;
}

li:hover {
    background-color: orange;
    border-radius: 5px;
    color: #fff;
}

li a:hover {
    color: #fff;
}

ul li a {
    text-decoration: none;
    color: black;
}

ol,
ul {
    padding-left: 0rem;
}

.Main-Content {
    background: #f5f5f9;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    height: 90vh;
}

.Main-Content .content {
    background: #fff;
    margin-top: 4%;
    padding: 10%;
    border-radius: 10px;
    color: #9ba6b3;

}

.detailsCard {
    margin: 1% 0%;
    background: #fff;
    padding: 2%;
    border-radius: 10px;
}

#reg_operations,
#mng_operations,
#fee_operations,
#std_operations,
#teh_operations,
#exm_operations {
    display: none;
    cursor: pointer;
}

#reg,
#mng,
#fee,
#std,
#teh,
#exm {
    cursor: pointer;
}

/* media queries */
/* @media (max-width:1115px) {
    #main-nav {
        display: none;
        width: 100%;
    }

    .Main-Content {
        width: 100%;
    }
}

@media (max-width:1200px) {
    #main-nav {
        display: none;
        width: 100%;
    }

    .Main-Content {
        width: 300%;
    }
} */